body{
    background-image: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/6987242/600/400/m2/fpnw/wm0/2-.jpg?1568806364&s=529a9e10493876cb0300b46609b2dbba")
}
h1,h2,h3,p{
    color:white;
}

@media all and (max-width: 480px) {

    .innerDiv{
        width:90%;
        margin:0 auto;
    } 
   .nameDiv{
    background-image:url('https://wallpaperplay.com/walls/full/d/7/4/36888.jpg');
    background-size: cover;
    border: 5px solid rgb(255, 255, 255);
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 8px 6px -6px black;

   }
    .headerName{
        text-align: right;
        font-family: sans-serif;
        font-size: bolder;
        position: relative;
        top:5%;
        right:0.5em;
    }
    .aboutMe{
        color:white;
        width: 80%;
        font-size: 5,5vw;
        text-align: center;
        margin:0 auto;
        position: relative;
        top:5px;

    }
/* skills */
.outerSubDiv{
    background-color: darkgrey;
    width:80%;
    border-radius: 10px;
    height: 60px;
    background-color: rgb(26, 23, 23);
    margin:0 auto;
}

.innerSubDiv{
    width:40%;
    position: relative;
    top:20%;
    border-radius: 10px;
    background-color: rgba(58, 53, 53, 0.808);
    margin:0 auto;
}
.itemListed{
    color:white;
    text-align: center;
}
.skillDiv{
    /* background-color: rgba(135, 207, 235, 0.342); */
    border-radius: 30px;
    margin:0 auto;
    height: 200px;
    background-color: rgba(58, 53, 53, 0.808);
    margin-top: 20px;
    box-shadow: 0 8px 6px -6px black;
    border: 5px solid rgb(99, 95, 95);

}
#skillset{
    position: relative;
    top:25%;
    min-width:80%;
    color:white;
    list-style: none;
    columns: 2;
    font-size: 1.2em;
    margin:0 auto;
    
}

/* projects */

.modalDiv{
   
    width:90%;
    margin:0 auto;
    margin-top: 20px;
    border-radius: 30px;
    padding: 8px;
    background-color: rgba(58, 53, 53, 0.808);
    border: 5px solid rgb(99, 95, 95); 
}
.imagDiv{
    /* border: 5px solid rgb(209, 22, 169); */
    width:75%;
    margin:0 auto;
}
.modalDivIMG{
    width:100%;
    /* border: 5px solid rgb(0, 255, 0) */
}
  .linkDiv{
    margin:0 auto;
    position: relative;
    left:10%;
}

a{
    color: white;
}
.contactDiv{
    width:80%;
     /* border: 5px solid rgb(0, 255, 0); */
     margin:0 auto;
     margin-top: 10px;

}
.innerContactDiv{
    margin:0 auto;
     /* border: 5px solid rgb(255, 102, 0) */
}

.ContactSection ,li{
    margin:0 auto;
    color:white;
    list-style: none;
   
      
}



}

@media all and (min-width: 480px) and (max-width: 768px) {
    .outerDiv{
        /* background-color: blue; */
    
    }
    .innerDiv{
        width:90%;
        margin:0 auto;
    } 
   .nameDiv{
    background-image:url('https://wallpaperplay.com/walls/full/d/7/4/36888.jpg');
    background-size: cover;
    border: 5px solid rgb(255, 255, 255);
    height:400px;
    border-radius: 30px;

   }
    .headerName{
        text-align: right;
        font-family: sans-serif;
        font-size: bolder;
        position: relative;
        top:5%;
        right:0.5em;
    }
    .aboutMe{
        color:white;
        max-width:55%;
        font-size: 3.2vw;
        text-align: left;
        position: relative;
        top:-5px;
        left:20px;

    }
    /* skills */
    .outerSubDiv{
        background-color: darkgrey;
        width:80%;
        border-radius: 10px;
        height: 60px;
        background-color: rgb(26, 23, 23);
        margin:0 auto;
    }
    
    .innerSubDiv{
        width:40%;
        position: relative;
        top:20%;
        border-radius: 10px;
        background-color: rgba(58, 53, 53, 0.808);
        margin:0 auto;
    }
    .itemListed{
        color:white;
        text-align: center;
    }
.skillDiv{
    border: 5px solid rgb(99, 95, 95);
    border-radius: 30px;
    background-color: rgba(58, 53, 53, 0.808);
    margin:0 auto;
    height: 200px;
    margin-top: 20px;
    box-shadow: 0 8px 6px -6px black;

}
#skillset{
    position: relative;
    top:25%;
    min-width:70%;
    color:white;

    list-style: none;
    columns: 2;
    font-size: 1.5em;
    margin:0 auto;
    
}
/* projects */

.modalDiv{
   
    width:90%;
    margin:0 auto;
    margin-top: 20px;
    padding: 8px;
    background-color: rgba(58, 53, 53, 0.808);
    border: 5px solid rgb(99, 95, 95); 
    border-radius: 30px;
}
.imagDiv{
    /* border: 5px solid rgb(209, 22, 169); */
    width:75%;
    margin:0 auto;
}
.modalDivIMG{
    width:100%;
    /* border: 5px solid rgb(0, 255, 0) */
}



.linkDiv{
    margin:0 auto;
    position: relative;
    left:10%;
}

a{
    color: white;
}
.contactDiv{
    width:80%;
     /* border: 5px solid rgb(0, 255, 0); */
     margin:0 auto;
     margin-top: 10px;

}
.innerContactDiv{
    margin:0 auto;
     /* border: 5px solid rgb(255, 102, 0) */
}

.ContactSection ,li{
    margin:0 auto;
    color:white;
    list-style: none;
   
      
}

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .outerDiv{
        /* background-color: grey; */
    
    }
    .innerDiv{
        width:90%;
        margin:0 auto;
    } 
   .nameDiv{
    background-image:url('https://wallpaperplay.com/walls/full/d/7/4/36888.jpg');
    background-size: cover;
    height:600px;
    border: 5px solid rgb(99, 95, 95);
    border-radius: 30px;

   }
    .headerName{
        text-align: right;
        font-family: sans-serif;
        font-size: bolder;
        position: relative;
        top:5%;
        right:0.5em;
    }
    .aboutMe{
        color:white;
        width: 55%;
        font-size: 3.4vw;
        text-align: left;
        position: relative;
        top:20px;
        left:20px;

    }
     /* skills */
     .outerSubDiv{
        background-color: darkgrey;
        width:80%;
     
        border-radius: 10px;
        height: 60px;
        background-color: rgb(26, 23, 23);
        margin:0 auto;
    }
    
    .innerSubDiv{
        width:40%;
        position: relative;
        top:20%;
        border-radius: 10px;
        background-color: rgba(58, 53, 53, 0.808);
        margin:0 auto;
    }
    .itemListed{
        color:white;
        text-align: center;
    }
.skillDiv{
    border: 5px solid rgb(99, 95, 95);
    border-radius: 30px;
    margin:0 auto;
    height: 600px;
    background-color: rgba(58, 53, 53, 0.808);
    margin-top: 20px;
    box-shadow: 0 8px 6px -6px black;

}
#skillset{
    position: relative;
    top:25%;
    width:80%;
    list-style: none;
    color:white;

    columns: 2;
    font-size: 3.5em;
    margin:0 auto;
    
}
/* projects */
.projectDiv{
    border: 5px solid rgba(99, 95, 95, 0.007);
    margin-top: 20px;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-flow: row wrap;
    
}
.modalDiv{
    width:33%;
    margin:0 auto;
    margin-top: 20px;
    border-radius: 30px;
    padding: 8px;
    min-height: 350px;
    background-color: rgba(58, 53, 53, 0.808);
    border: 5px solid rgb(99, 95, 95); 
}
.imagDiv{
    border: 5px solid rgb(209, 22, 169);
    border: 5px solid rgb(99, 95, 95);
    width:75%;
    margin:0 auto;
}
.modalDivIMG{
    width:100%;
    /* border: 5px solid rgb(0, 255, 0) */
}
.linkDiv{
    margin:0 auto;
    position: relative;
    left:10%;
}

a{
    color: white;
}
.contactDiv{
    width:80%;
     /* border: 5px solid rgb(0, 255, 0); */
     margin:0 auto;
     margin-top: 10px;

}
.innerContactDiv{
    margin:0 auto;
     /* border: 5px solid rgb(255, 102, 0) */
}

.ContactSection ,li{
    margin:0 auto;
    color:white;
    list-style: none;
   
      
}




}

@media all and (min-width: 1024px) and (max-width: 1280px){
    .outerDiv{
        /* background-color: grey; */
    
    }
    .innerDiv{
        width:90%;
        margin:0 auto;
    } 
   .nameDiv{
    background-image:url('https://wallpaperplay.com/walls/full/d/7/4/36888.jpg');
    background-size: cover;
    height:600px;
    border: 5px solid rgb(255, 253, 253);
    border-radius: 30px;

   }
    .headerName{
        text-align: right;
        font-family: sans-serif;
        font-size: bolder;
        position: relative;
        top:5%;
        right:0.5em;
    }
    .aboutMe{
        color:white;
        width: 55%;
        font-size: 3.0vw;
        text-align: left;
        position: relative;
        top:20px;
        left:20px;

    }
     /* skills */
     .outerSubDiv{
        background-color: darkgrey;
        width:80%;
        border-radius: 10px;
        height: 60px;
        background-color: rgb(26, 23, 23);
        margin:0 auto;
    }
    
    .innerSubDiv{
        width:40%;
        position: relative;
        top:20%;
        border-radius: 10px;
        background-color: rgba(58, 53, 53, 0.808);
        margin:0 auto;
    }
    .itemListed{
        color:white;
        text-align: center;
    }
     .skillDiv{
        border: 5px solid rgb(99, 95, 95);
        border-radius: 30px;
        margin:0 auto;
        height: 600px;
        background-color: rgba(58, 53, 53, 0.808);
        margin-top: 20px;
        box-shadow: 0 8px 6px -6px black;
    
    }
    #skillset{
        position: relative;
        top:25%;
        width:80%;
        color:white;
        list-style: none;
        columns: 2;
        font-size: 3.5em;
        margin:0 auto;
        
    }
    .projectDiv{
        border: 5px solid rgba(99, 95, 95, 0.062);
        margin-top: 20px;
        display: flex;
        align-items: center;
       justify-content: center;
       flex-flow: row wrap;
        
    }
    .modalDiv{
        width:33%;
        margin:0 auto;
        margin-top: 20px;
        border-radius: 30px;
        min-height: 350px;
        padding: 8px;
        background-color: rgba(58, 53, 53, 0.808);
        border: 5px solid rgb(99, 95, 95); 
    }
    .imagDiv{
        /* border: 5px solid rgb(209, 22, 169); */
        width:75%;
        margin:0 auto;
    }
    .modalDivIMG{
        width:100%;
        /* border: 5px solid rgb(0, 255, 0) */
    }
    .linkDiv{
        margin:0 auto;
        position: relative;
        left:10%;
    }
    
    a{
        color: white;
    }
    .contactDiv{
        width:80%;
         /* border: 5px solid rgb(0, 255, 0); */
         margin:0 auto;
         margin-top: 10px;
    
    }
    .innerContactDiv{
        margin:0 auto;
         /* border: 5px solid rgb(255, 102, 0) */
    }
    
    .ContactSection ,li{
        margin:0 auto;
        color:white;
        list-style: none;
       
          
    }
    
    
    


}

@media all and (min-width: 1280px) and (max-width: 2200px){
    .outerDiv{
        /* background-color: grey; */
    
    }
    .innerDiv{
        width:90%;
        margin:0 auto;
    } 
   .nameDiv{
    background-image:url('https://wallpaperplay.com/walls/full/d/7/4/36888.jpg');
    background-size: cover;
    height:800px;
    border: 5px solid rgb(99, 95, 95);
    border-radius: 30px;

   }
    .headerName{
        text-align: right;
        font-family: sans-serif;
        font-size: bolder;
        position: relative;
        top:5%;
        color: white;
        font-size: 3.2vw;
        right:0.5em;
    }
    .aboutMe{
        color:white;
        width: 70%;
        height: 20%;
        font-size: 3.2vw;
        text-align: left;
        position: relative;
        top:20px;
        left:20px;

    }
     /* skills */
     .outerSubDiv{
        background-color: darkgrey;
        width:80%;
        border-radius: 10px;
        height: 60px;
        background-color: rgb(26, 23, 23);
        margin:0 auto;
    }
    
    .innerSubDiv{
        width:40%;
        position: relative;
        top:20%;
        border-radius: 10px;
        background-color: rgba(58, 53, 53, 0.808);
        margin:0 auto;
    }
    .itemListed{
        color:white;
        text-align: center;
    }
     .skillDiv{
        background-color: rgba(58, 53, 53, 0.808);
        border: 5px solid rgb(99, 95, 95); 
        border-radius: 30px;
        margin:0 auto;
        height: 600px;
        margin-top: 20px;
        box-shadow: 0 8px 6px -6px black;
    
    }
    #skillset{
        position: relative;
        top:25%;
        width:80%;
        color:white;

        list-style: none;
        columns: 2;
        font-size: 3.5em;
        margin:0 auto;
        
    }
.projectDiv{
    border: 5px solid rgba(99, 95, 95, 0);
    margin-top: 20px;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-flow: row wrap;
    
}
.modalDiv{
    width:33%;
    margin:0 auto;
    margin-top: 20px;
    border-radius: 30px;
    padding: 8px;
    min-height: 350px;
    background-color: rgba(58, 53, 53, 0.808);
    border: 5px solid rgb(99, 95, 95); 
}
.imagDiv{
    /* border: 5px solid rgb(209, 22, 169); */
    width:75%;
    margin:0 auto;
}
.modalDivIMG{
    width:100%;
    /* border: 5px solid rgb(0, 255, 0) */
}

 .linkDiv{
    margin:0 auto;
    position: relative;
    left:10%;
}

a{
    color: white;
}
.ContactSection ,li{
    margin:0 auto;
    color:white;
    list-style: none;
   
      
}
.contactDiv{
    width:80%;
     /* border: 5px solid rgb(0, 255, 0); */
     margin:0 auto;
     margin-top: 10px;

}
.innerContactDiv{
    margin:0 auto;
     /* border: 5px solid rgb(255, 102, 0) */
}

.ContactSection ,li{
    margin:0 auto;
    color:white;
    list-style: none;
   
      
}



}